<ion-header>
  <ion-toolbar>
    <ion-title>
      LogIn
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label>{{message}}</ion-label>
  </ion-item>
  <form [formGroup]="loginForm" (ngSubmit)="logIn()">
    <ion-item>
      <ion-label>User</ion-label>
      <!-- Placeholder shows login values for test purposes -->
      <ion-input required formControlName="user" placeholder="foo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" required formControlName="password" placeholder="bar"></ion-input>
    </ion-item>
    <ion-buttons>
      <ion-button type="submit" [disabled]="!loginForm.valid">
        <ion-label>Login</ion-label>
      </ion-button>
    </ion-buttons>
  </form>
</ion-content>