<ion-header *ngIf="params.data.isModal">
  <ion-toolbar>
    <ion-title>Enter Hero Name</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="params.data.isModal else popoverTemplate">
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input clearInput autofocus  [formControl]=name ></ion-input>
  </ion-item>
  <ion-button shape="round" (click)="close()">
    <ion-label>OK</ion-label>
  </ion-button>
</ion-content>
<ng-template #popoverTemplate>
  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input clearInput autofocus [formControl]=name></ion-input>
    <ion-button fill="outline" shape="round" (click)="close()">
      <ion-label>OK</ion-label>
    </ion-button>
  </ion-item>
</ng-template>