<ion-content *ngIf="crisis" padding>
  <ion-text>
    <h2>{{crisis.name | uppercase}} Details</h2>
  </ion-text>
  <ion-item>
    <ion-label slot="start"><span>ID: {{crisis.id}}</span></ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Name</ion-label>
    <ion-input clearInput [(ngModel)]="editName" placeholder="name" name="crisisname"></ion-input>
  </ion-item>
  <ion-button (click)="save()">
    <ion-label>Save</ion-label>
  </ion-button>
  <ion-button (click)="gotoCrises(crisis)">
    <ion-label> Cancel</ion-label>
    </ion-button>
</ion-content>