<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!backButton"> </ion-menu-button>
      <ion-back-button *ngIf="backButton" [defaultHref]="backButton"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openContact()">
        <ion-label>
          Contact
        </ion-label>
      </ion-button>
      <ion-button *ngIf="isLoggedOut() | async else logoutButton" (click)="logIn()">
          <ion-icon slot="icon-only" name="log-in"></ion-icon>
      </ion-button>
      <ng-template #logoutButton>
        <ion-button (click)="logOut()">
          <ion-icon slot="icon-only" name="log-out"></ion-icon>
        </ion-button>
      </ng-template>
    </ion-buttons>
    <ion-title>Heroes Router</ion-title>
  </ion-toolbar>
</ion-header>