<app-header></app-header>
<ion-toolbar>
  <ion-title>
    ADMIN
  </ion-title>
  <ion-buttons>
    <ion-button routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <ion-label>Dashboard</ion-label>
    </ion-button>
    <ion-button routerLink="./crises" routerLinkActive="active">
      <ion-label>Manage Crises</ion-label>
    </ion-button>
    <ion-button routerLink="./heroes" routerLinkActive="active">
      <ion-label>Manage Heroes</ion-label>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content padding>
  <div [@routeAnimation]="getAnimationData(routerOutlet)">
    <router-outlet #routerOutlet='outlet'></router-outlet>
  </div>
</ion-content>