/* HeroesComponent's private CSS styles */

.crises .item {
  cursor: pointer;
  position: relative;
  //left: 0;
  //margin: .5em;
  //padding: .3em 0;
  //height: 1.8em;
  color: #989aa2;

  &:hover {
    color: #607d8b;
    left: 0.1em;
  }

  &.selected {
    font-weight: bold;
  }
}
