<!-- <ion-content padding> -->
<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button mini (click)="createCrisis($event)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-list class="crises">
  <ion-item *ngFor="let crisis of crises$ | async">
    <ion-item class="item" [routerLink]="['./', crisis.id]" (click)="onSelect($event, crisis)" [routerLink]="['./', crisis.id]"
    [class.selected]="crisis.id === selectedId">
      <ion-badge slot="start" color="secondary">{{crisis.id}}</ion-badge>
      <ion-label>{{crisis.name}}</ion-label>
    </ion-item>
    <ion-icon name="trash" color="danger" slot="end" (click)="delete(crisis)" routerLink="./"></ion-icon>
  </ion-item>
</ion-list>
<router-outlet></router-outlet>
<!-- </ion-content> -->