<ion-app>
  <!-- <ion-split-pane when="(min-width: 800px)"> -->
  <ion-menu menu-id="mainmenu">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item *ngFor="let route of routes" [routerLink]="route.routerLink" routerLinkActive="active" routerDirection="forward">
            <ion-label>
              {{route.name}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <!-- <ion-content> -->
    <!-- <app-header></app-header> -->
    <ion-router-outlet main>
    </ion-router-outlet>
    <router-outlet name="popup"></router-outlet>
  <!-- </ion-content> -->
  <!-- </ion-split-pane> -->
</ion-app>