<app-header></app-header>
<ion-content padding>
  <ion-text>
    <h2>HEROES</h2>
  </ion-text>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button mini (click)="createHero()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  <ul class="heroes">
    <li *ngFor="let hero of heroes$ | async" [class.selected]="hero.id === selectedId">
      <a [routerLink]="['/hero', hero.id]">
        <ion-text><span class="badge">{{hero.id}}</span> <span class="text"> {{hero.name}} </span></ion-text>
      </a>
    </li>
  </ul>
  <ion-button routerLink="/sidekicks">
    <ion-label>Go to Sidekicks</ion-label>
  </ion-button>
</ion-content>