<h3>Contact Crisis Center Support</h3>
<ion-label *ngIf="details">
  {{ details }}
</ion-label>
<form [formGroup]="message" (ngSubmit)="send()">
  <ion-item>
    <ion-label position="floating">
      eMail
    </ion-label>
    <ion-input required formControlName="eMail"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="danger" *ngIf="eMail.getError('required') && eMail.touched">
      eMail is required!
    </ion-label>
    <ion-label color="danger" *ngIf="eMail.getError('email') && eMail.touched">
      eMail must be a valid eMail!
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Message
    </ion-label>
    <ion-textarea required formControlName="contents" rows="10" cols="35"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label color="danger" *ngIf="message.getError('required', ['contents']) && message.get('contents').touched">
      A message is required!
    </ion-label>
  </ion-item>
  <ion-buttons *ngIf="!sending">
    <ion-button type="submit" [disabled]="!message.valid">
      <ion-label>
        Send
      </ion-label>
    </ion-button>
    <ion-button (click)="cancel()">
      <ion-label>
        Cancel
      </ion-label>
    </ion-button>
  </ion-buttons>
</form>