:host {
  position: relative; bottom: 10%;
  padding: 2%;
}

.ng-valid[required], .ng-valid.required  {
  border-right: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
 border-right: 5px solid #a94442; /* red */
}