<app-header backButton="/heroes"></app-header>
<ion-content *ngIf="hero$ | async as hero else nohero" padding>
  <ion-text>
    <h2>{{hero.name | uppercase}} Details</h2>
  </ion-text>
  <div>
    <ion-item>
      <ion-label slot="start"><span>ID: {{hero.id}}</span></ion-label>
    </ion-item>
  </div>
  <div>
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input clearInput [(ngModel)]="hero.name" placeholder="name" name="heroname"></ion-input>
    </ion-item>
  </div>
  <p>
    <ion-button (click)="gotoHeroes(hero)">
      <ion-label>
        Back
      </ion-label>
    </ion-button>
  </p>
</ion-content>
<ng-template #nohero>
  <ion-content padding>
    <ion-text color="danger">
      <h1>No Hero with this ID!</h1>
    </ion-text>
  </ion-content>
</ng-template>